services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: kconnect
      POSTGRES_PASSWORD: kconect
      POSTGRES_DB: db
    command:
      - postgres
      - -c
      - wal_level=logical
      - -c
      - max_wal_senders=10
      - -c
      - max_replication_slots=10
      - -c
      - wal_keep_size=64MB
    ports:
      - "5436:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./src/main/docker/postgres/initdb:/docker-entrypoint-initdb.d

  tbox-kafka:
    image: apache/kafka:3.7.2
#    container_name: tbox-kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://tbox-kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@tbox-kafka:9093"
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    ports:
      - "9094:9092"
    volumes:
      - kafkadata:/var/lib/kafka/data
    depends_on:
      - postgres

volumes:
  pgdata: {}
  kafkadata: {}
