version: '2'
services:
  standalone-chrome:
    image: selenium/standalone-chrome:97.0-chromedriver-97.0-20250202
    ports:
      - "4444:4444"
      - "5900:5900"
      - "7900:7900"
    volumes:
      - /dev/shm:/dev/shm
    network_mode: bridge
    privileged: true

# http://localhost:7900/?autoconnect=1&resize=scale&password=secret
# http://localhost:4444
