<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <property
      name="qa_prod"
      value="%d{yyyy-MM-dd HH:mm:ss.SSS} l=%3.-3level t=%0.15thread l=%-0.50logger{50} m=%method %mdc %msg%n"
    />
    <encoder>
      <pattern>${qa_prod}</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

