version: '3.8'

services:
  admin:
    build: ./spring-boot-admin
    ports:
      - "8085:8080"
    environment:
      - SERVER_PORT=8080

  app1:
    build: ./demo-app
    ports:
      - "8081:8080"
    environment:
      - SERVER_PORT=8080
      - SPRING_APPLICATION_NAME=demo-app
      - MANAGEMENT_JMX_ENABLED=true
      - MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=*
      - MANAGEMENT_ENDPOINT_JOLOKIA_ENABLED=true
      - SPRING_BOOT_ADMIN_CLIENT_URL=http://admin:8080

  app2:
    build: ./demo-app
    ports:
      - "8082:8080"
    environment:
      - SERVER_PORT=8080
      - SPRING_APPLICATION_NAME=demo-app
      - MANAGEMENT_JMX_ENABLED=true
      - MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=*
      - MANAGEMENT_ENDPOINT_JOLOKIA_ENABLED=true
      - SPRING_BOOT_ADMIN_CLIENT_URL=http://admin:8080
