# https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/otlpreceiver/README.md
receivers:
  otlp:
    protocols:
      grpc: 
        endpoint: ":4317"
      http: 
        endpoint: ":4318"

connectors:
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.120.0/connector/spanmetricsconnector/README.md#more-examples
  spanmetrics:
    dimensions:
      - name: http.method
        default: GET
      - name: http.response.status_code 
      - name: http.status_code
      - name: http.route
      - name: code.function 
      - name: code.namespace
    exemplars:
      enabled: true
    exclude_dimensions: 
      - 'status.code'
      - 'telemetry.sdk.language'
      - 'telemetry.sdk.name'
      - 'webengine.name'
    dimensions_cache_size: 1000
    aggregation_temporality: "AGGREGATION_TEMPORALITY_CUMULATIVE"    
    metrics_flush_interval: 15s
    metrics_expiration: 5m
    events:
      enabled: true
      dimensions:
        - name: exception.type
        - name: exception.message
    resource_metrics_key_attributes:
      - host.name 
      - service.name
      - telemetry.sdk.version
      - service.version
      - webengine.version 

processors:
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/cdd2c16a95b49e4b11e3dee8a5d92ae8ba80e6d0/processor/filterprocessor
  filter/traces: # soh lentos ou com erros (se a condicao abaixo der true, eh ignorado)
    error_mode: ignore
    traces:
      span:
        - status.code < 2 and (end_time - start_time) <= Duration("500ms")

  # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/cumulativetodeltaprocessor
  # cumulativetodelta:

  # https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/batchprocessor
  batch:

exporters:

  debug:
    verbosity: detailed

  prometheus:
    endpoint: ":9595"
    namespace: "otel"
    send_timestamps: true
    metric_expiration: 180m
    enable_open_metrics: true
    add_metric_suffixes: false
    resource_to_telemetry_conversion:
      enabled: true

  # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/zipkinexporter
  # zipkin:
  #   endpoint: "http://jaeger.docker:9411/api/v2/spans"
  #   format: proto
  #   default_service_name: unknown-service

  # https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter
  otlp:
    endpoint: "http://jaeger:4317"
    tls:
      insecure: true

service:
  
  pipelines:

    logs:
      receivers: [otlp]  # Receive logs from applications
      processors: [batch]
      exporters: [debug] # Send logs to Jaeger (as spans)

    traces/metrics:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ spanmetrics ]

    traces/filtered:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ otlp ]
      #processors: [ filter/traces, batch ]
      #exporters: [ debug, otlp ]
    
    metrics:
      receivers: [ otlp, spanmetrics ]
      processors: [ batch ]
      exporters: [ debug, prometheus ]
  
  telemetry:
    logs:
      level: "debug"
    metrics:
      address: ":9696"
